/* Customize the UI of Firefox */

@-moz-document url("chrome://browser/content/browser.xhtml") {
  /*
  Remove the TabsToolbar completely when not using it for the platform's window controls.
  When using it for the window controls, only remove the section with tabs and buttons.
  Use the `browser.tabs.inTitlebar` setting in about:config to change this (0=platform controls, 1=Firefox controls)
  */
  #main-window[drawtitle="true"] #TabsToolbar {
    display: none;
  }
  #main-window[tabsintitlebar="true"] #TabsToolbar-customization-target {
    display: none;
  }

  /* Hide the sidebar header when it's showing tabs
  Extension ids:
   - Tree Style Tab: treestyletab_piro_sakura_ne_jp-sidebar-action
   - Sidebery: _3c078156-979c-498b-8990-85f7987dd929_-sidebar-action
  */
  #sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header,
  #sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] #sidebar-header
  {
    display: none;
  }

  /* Allow edting the URL in bookmark popup UI */
  #editBMPanel_locationRow[collapsed="true"] {
    visibility: visible;
  }

  /* Megabar: Hide lables ("Firefox Suggest", etc) */
  .urlbarView-row[label]::before {
    display: none !important;
  }
  .urlbarView-row[label] {
    margin-block-start: 0 !important;
  }

  /* Megabar: Remove the "this time, search with:" text */
  #urlbar .search-one-offs .search-panel-header {
    display: none !important;
  }
}
