[submodule ".config/vim/pack/all/start/fzf.vim"]
	path = .config/vim/pack/all/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
	branch = master
[submodule ".config/vim/pack/all/start/molokai-dark"]
	path = .config/vim/pack/all/start/molokai-dark
	url = https://github.com/pR0Ps/molokai-dark.git
	branch = master
[submodule ".config/vim/pack/all/start/syntastic"]
	path = .config/vim/pack/all/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
	branch = master
[submodule ".config/vim/pack/all/start/undotree"]
	path = .config/vim/pack/all/start/undotree
	url = https://github.com/mbbill/undotree.git
	branch = master
[submodule ".config/vim/pack/all/start/vim-airline"]
	path = .config/vim/pack/all/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
	branch = master
[submodule ".config/vim/pack/all/start/vim-autoswap"]
	path = .config/vim/pack/all/start/vim-autoswap
	url = https://github.com/pR0Ps/vim-autoswap.git
	branch = master
[submodule ".config/vim/pack/all/start/vim-matchup"]
	path = .config/vim/pack/all/start/vim-matchup
	url = https://github.com/andymass/vim-matchup.git
	branch = master
[submodule ".config/vim/pack/all/start/vim-polyglot"]
	path = .config/vim/pack/all/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
	branch = master
[submodule ".config/vim/pack/all/start/vim-rooter"]
	path = .config/vim/pack/all/start/vim-rooter
	url = https://github.com/airblade/vim-rooter.git
	branch = master
[submodule ".config/vim/pack/all/start/vim-surround"]
	path = .config/vim/pack/all/start/vim-surround
	url = https://github.com/tpope/vim-surround
	branch = master
